# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Virtual environment
venv/
env/

# VSCode settings
.vscode/

# MacOS files
.DS_Store

# Logs and temp files
*.log
*.tmp

# Jupyter Notebooks checkpoints
.ipynb_checkpoints/

# CSV output or scraped data (optional)
*.csv
